<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Currencies.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CurrenciesToday.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>08B8C3BC1D1D51DC00A18133</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08B8C3D01D1D51DC00A18133</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08B8C3DB1D1D51DC00A18133</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08E157B71D1D5F8900FBD1AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
